<footer class="footer"> 
  <small> 
    <a href="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQC3icrV61C5zDzqV3v8SSgLqFSWkQ_cYuuG1bnfapg8s5mcLTDOQ">The App</a> by No one
  </small> 
  <nav> 
    <ul> 
      <li> <%= link_to "About",   about_path %> </li> 
      <li> <%= link_to "Contact", contact_path %> </li> 
      <li> <a href="http://news.google.com//">News</a> </li> 
    </ul> 
  </nav> 
</footer>